@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* @font-face {
  font-family: "start2P";
  src: url("/assets/PressStart2P-Regular.ttf") format("truetype");
} */

@font-face {
  font-family: "Formula1 Regular";
  src: url("/public/assets/Formula1-Regular_web_0.ttf") format("truetype");
}
body {
  margin-bottom: 30px;
  background-color: #003244;
  /* background-color: #172835; */
  /* font-family: "Formula1-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'start2P',
    sans-serif; */
  
  font-family: 'Formula1 Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'Formula1 Regular', sans-serif;
}
